body {
    font-family: sans-serif;
}
h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 175px;
    margin-right: 175px;
    Background-color: #688397
}
img {
    width: 800px;
    height: 500px;
}


